**/*.test
*.log

/tests/
*/test/
*/_test.go

crts/

mocks/
.mockery.yml

migrations/

sow/
README.md
LICENSE

.env
.env.example

.git/
.gitignore
github/

Dockerfile
docker-compose.yml
.dockerignore

*.DS_Store
.vscode/
.idea/
